<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
    <body class="container">
        <div th:replace="navBar :: navBar"></div>
        <form action="#" th:action="@{/mvc/appointments/create-appointment}" th:object="${appointmentApplicationDTO}"
              method="POST">
            <div class="form-group">
                <label for="firstName">Enter your first Name</label><span style="color:red; font_weight:bold">*</span>
                <input type="text" class="form-control"
                       name="firstName"
                       id="firstName"
                       placeholder="firstName"
                       th:field="*{firstName}">
            </div>
            <div class="form-group">
                <label for="lastName">Enter your last Name</label><span style="color:red; font_weight:bold">*</span>
                <input type="text" class="form-control"
                       name="lastName"
                       id="lastName"
                       placeholder="lastName"
                       th:field="*{lastName}">
            </div>
            <div class="form-group">
                <label for="birthDate">Enter your birth date</label><span style="color:red; font_weight:bold">*</span>

                <input type="text" class="form-control"
                       name="birthDate"
                       id="birthDate"
                       placeholder="birthDate"
                       th:field="*{birthDate}">
            </div>
            <select class="form-control" th:field=*{specialistId} id="specialist">
                <option value="">Choose specialist</option>
                <option th:each="specialist : ${specialists}"
                        th:value="${specialist.id}"
                        th:text="${specialist.specialization}">
                </option>
            </select>
            <div class="form-footer">
                <button class="btn btn-primary" style="background-color: #005f0f;
                                                border-color: #005f0f;">Reserve</button>
            </div>
        </form>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    </body>
</html>