<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container">
<table class="table">
    <thead>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Bith Date</th>
        <th>Appointment starts at</th>
        <th>Appointment ends at</th>
        <th>State</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="info : ${appointmentsInfo}">
        <td th:text="${info.firstName}"></td>
        <td th:text="${info.lastName}"></td>
        <td th:text="${info.birthDate}"></td>
        <td th:text="${info.appTimeFrom}"></td>
        <td th:text="${info.appTimeTo}"></td>
        <td>
            <form id="state" th:action="@{/mvc/specialist/appointments/__${info.appointmentId}__/update}" method="post">
                <select class="form-control" name="state" onchange="this.form.submit()">
                    <option th:each="state : ${stateOptions}"
                            th:value="${state}"
                            th:text="${state}"
                            th:selected="${info.isSelectedState(state)}">
                    </option>
                </select>
            </form>
        </td>
        <td>
            <a class="btn btn-danger"
               data-th-href="@{/mvc/specialist/appointments/__${info.appointmentId}__/remove}">Cancel</a>
        </td>
    </tr>
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>